## NRPE service port can be customized ##
server_port=5666

## the nagios monitoring server is permitted ##
## NOTE: There is no space after the comma ##
allowed_hosts=127.0.0.1,192.168.1.254

nrpe_user=nrpe
nrpe_group=nrpe

command_timeout=60
connection_timeout=300

dont_blame_nrpe=1


## The following examples use hard-coded command arguments.
## These parameters can be modified as needed.

## NOTE: For CentOS 64 bit, use /usr/lib64 instead of /usr/lib ##

command[check_users]=/usr/lib64/nagios/plugins/check_users -w $ARG1$ -c $ARG2$
command[check_load]=/usr/lib64/nagios/plugins/check_load -w $ARG1$ -c $ARG2$
command[check_disk]=/usr/lib64/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
command[check_procs]=/usr/lib64/nagios/plugins/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
command[check_mem]=/usr/lib64/nagios/customplugins/check_mem -w $ARG1$ -c $ARG2$
command[check_swap]=/usr/lib64/nagios/plugins/check_swap -w 20 -c 10
